.airText {
    width: 5em;
    text-align: center;
    align-self: center;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome and Opera */
}

html{
    overflow-y:hidden;
}

.surface {
    overflow-x:hidden;
    overflow-y:hidden;
    width:100%;
    height:100%;
    position:absolute;
    top:0em;
}

.player {
    position:absolute;
    bottom:0em;
}

.left-menu {
    overflow-y:hidden;
    overflow-x:hidden;
}

.svgicon{
    padding: 0.2em
}

.hand {
    cursor: pointer
}


.slide-fade-enter-active {
    transition: all .2s ease;
}

.slide-fade-leave-active {
    transition: all .2s ease;
}

.slide-fade-enter {
    transform: translateY(-10px);
    opacity: 0;
}


.top-right {
    position: absolute;
    top: 5px;
    right: 5px;
}


.logo-petit-max {
    height: 1em;
    width: 1em
}

.logo-petit {
    height: 1.5em;
    width: 1.5em
}

.logo-tout-petit {
    height: 1em;
    width: 1em
}

.logo-moyen {
    height: 2em;
    width: 2em
}

.logo {
    height: 2.5em;
    width: 2.5em;
}

.logo-big {
    height: 3em;
    width: 3em;
}

.logo-very-big {
    height: 7em;
    width: 7em;
}

.add-event {
    background: url(/img/add_event.svg) no-repeat center;
}

.family {
    background: url(/img/family.svg) no-repeat center;
}